
@{
    ViewData["Title"] = "Index";
}

<div class="row mx-0" style="padding-bottom: 0px; ">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Báo cáo</a></li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="card" id="view">
        <div class="card-header bg-primary text-white" style=" font-size: 1rem;">
            <div style="text-align:center">
                <a>Giao diện tải báo cáo</a>
            </div>
        </div>
        <div class="card-body card-custom">
            <form id="formView" action="javascript:void(0)">
                <div style="padding: 15px 0px;">
                    <a href="javascript:void(0);" class="btn btn-info" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch"><i class="fa fa-search" aria-hidden="true"></i>Tùy chỉnh tìm kiếm</a>
                </div>
                <div class="collapse" id="collapseSearch" style="margin-top:5px">
                    <div class="col-md-12 row">
                        <div class="col-md-4 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3" for="Name">
                                    Tên chi nhánh
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" placeholder="Tên chi nhánh" id="Name" name="Name" onchange="onSearch()">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3" for="Name">
                                    Phòng ban
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" placeholder="Phòng ban" id="Name" name="Name" onchange="onSearch()">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-4" for="Name">
                                    Họ tên nhân viên
                                </label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" placeholder="Họ tên nhân viên" id="Name" name="Name" onchange="onSearch()">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3" for="Name">
                                    Từ ngày
                                </label>
                                <div class="col-lg-9">
                                    <input type="date" class="form-control" id="Name" name="Name" onchange="onSearch()">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3" for="Name">
                                    Đến ngày
                                </label>
                                <div class="col-lg-9">
                                    <input type="date" class="form-control" id="Name" name="Name" onchange="onSearch()">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3 btn-search-custom">
                        <div style="text-align:center;">
                            <a href="javascript:void(0)" class="btn btn-success" onclick="onSearch()"><i class="fas fa-search" aria-hidden="true"></i>Tìm kiếm</a>
                            <a href="javascript:void(0)" class="btn btn-info" onclick="Excel()"><i class="fas fa-download" aria-hidden="true"></i>Tải xuống</a>
                        </div>
                    </div>
                    @*<div class="col-md-12 mb-2 " style="text-align:center; ">
                            <a href="javascript:void(0)" class="btn btn-info" onclick="onSearch()">@Resource.Search</a>
                        </div>*@
                </div>
            </form>
            @*<div class="table-responsive custom-table-scroll ">
                    <table id="unitTypeTable" class="table table-striped table-bordered zero-configuration" style="width:100%">
                        <thead class="contain-header-custom m-gray">
                            <tr>
                                <th class="number1" style="text-align: center">STT</th>
                                <th class="number2" style="text-align: center">kiểu</th>
                                <th class="number3" style="text-align: center">trạng thái</th>
                                <th class="number4" style="text-align: center">miêu tả</th>
                                <th id="OptionUnitType" style="text-align: center">Lựa chọn</th>
                            </tr>
                        </thead>
                        <tbody class="contain-tbody-custom">
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                        <partial name="_Pagination" />
                    </div>
                </div>*@
        </div>
    </div>
</div>

